html {
	min-height: 100%;
    height: 100%;
 }

body {
	min-height: 100%;
	height: 100%;
	position: relative;
}


.container{
	min-height: 100%;
	height: inherit;
	width: 	100%;
	
}

#buttonDiv button {
    margin: 10px 10px;
}

#gifsDiv .gifsDiv {
    width: 30%;
    float: left;
    margin-bottom: 3%;
}


#gifsDiv .gifsDiv:nth-child(3n + 3) {
    width: inherit;
    clear: right;
}

#gifsDiv .gifsDiv:nth-child(3n + 2) {
    margin: 0 5%;
}

