html {
	min-height: 100%;
    height: 100%;
 }

body {
	min-height: 100%;
	height: 100%;
	position: relative;
}


.container{
	min-height: 100%;
	height: inherit;
	width: 	100%;
	
}

/*#gifsDiv {
	height: 144%;

}*/
#buttonDiv button {
    margin: 10px 10px;
}

#gifsDiv .gifsDiv {
    width: 30%;
    float: left;
    margin-bottom: 3%;
}


#gifsDiv .gifsDiv:nth-child(3n + 3) {
    width: inherit;
    clear: right;
}

#gifsDiv .gifsDiv:nth-child(3n + 2) {
    margin: 0 5%;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: grey;
    border-top: 4px solid black;
    width: 100%;
    height: 60px;
    text-align: center;
    margin-top: 20px;
}

#wrap {
	height: 89%;
	overflow-y: scroll;
}


#footer div {
    padding: 10px;
    color: white;
}
